* {
	margin: 0px;
	padding: 0px;
}

body {
	background: url(../images/main_bg.jpg);
	background-size: 100% 100%;
	
}

.wrapper {
	margin-left: 150px;
	margin-right: 150px;

}

.banner {
	width: 100%;
	height: 200px;
	margin: 0px; 
	display: inline-table;
	background: url(../images/steve-jobs-face.jpg);
	background-size: cover ;
	background-size: 100% 100%;
}

.banner #gam1 img{
	height: 200px;
	width: 300px;
	padding-top: 2px;
}

nav {
	width: 100%;
	height: 30px;
	background-color: black;
	text-align: center;
}

nav ul {
	list-style: none;
	display: inline-table;
}

nav ul li {
	float: left;

}

nav ul li a {
	text-decoration: none;
	color: white;
	display: inline-table;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 5px;
}

#tag {
	margin-top: 10px;
	color: white;
	text-align: center;
	width: 300px;
	height: 20px;
	background-color: black;
}

.box {
	width: 300px;
	height: 250px;
	background-color: white;
	margin-bottom: 20px;	
}

.box img {
	float: left;
	display: block;
	border-image: none;
	position: static;
	width: 150px;
	height: 250px;

}

.box ul {
	display: inline-table;
	text-align: left;
}

.box ul li {
	font-size: 11px;
	list-style: none;
	display: inline-table;
}


.box #box1 img {
	width: 300px;
	height: 250px;
	margin-top: 20px;
}

.box #box2 img {
	width: 300px;
	height: 250px;
	margin-top: 20px;
}

.content-box {
	width: 720px;
	height: 1100px;
	background-color: white;
	float: right;
	margin-top: 10px;	
}

.content-box h1 {
	padding-left: 25px;
}


.content-box p {
	text-align: justify;
	margin-left: 25px;
	margin-right: 25px;
}

.content-box img {
	width: 240px;
	text-align: left; 
	margin-right: 20px;
}

.content-box img p {
	text-align: justify;
	margin-left: 25px;
	margin-right: 25px;	
}

.content-box  #img2 img {
	height: 180px;
	width: 180px;
	text-align: left; 
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
}


#wrapper #footer p {
	margin-top: 10px;
}
